################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Automatizando a criação de ambientes com Azure Resource Manager.pptx
